.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.heading{
  font-size:50px;
  color: #FFFFFF;
  font-weight: 800;
}
/* 
/*  */

.form__submit{
  font-size: 35px;
  margin-top: 20px;
}

.btn{
  display: inline-block;
  margin-top: 20px;
  font-size: 35px;
}